body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#charCount {
    margin-bottom: 10px;
    font-size: 16px;
}

textarea {
    width: 1000px;
    height: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.single-tag {
    background-color: #28a745;
}

button.single-tag:hover {
    background-color: #218838;
}

audio {
    margin-top: 20px;
    width: 100%;
}